@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: Inter;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
header div {
  display: flex;
  gap: 50px;
  align-items: center;
}
header div nav {
  display: flex;
  gap: 20px;
}
header input {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.section1 aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.section1 aside h1 {
  font-size: 50px;
}
.section1 aside button {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: #E8F1FE;
  color: #217BF4;
}
.section1 aside div button:first-child {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}
.section1 aside div button:last-child {
  background-color: #217BF4;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: white;
  border: 1px solid #217BF4;
  color: #217BF4;
}

.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.section2 aside {
  text-align: start;
}
.section2 aside p:first-child {
  color: #217BF4;
  font-size: 18px;
  font-weight: 500;
}
.section2 aside h1 {
  font-size: 36px;
  font-weight: 800;
  width: 406px;
  height: 96px;
}
.section2 aside p:nth-child(3) {
  color: grey;
  font-size: 16px;
  width: 406px;
  height: 84px;
}
.section2 aside p:nth-child(4) {
  color: #171648;
  font-size: 18px;
  font-weight: 600;
}
.section2 aside p:nth-child(5) {
  color: #171648;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}
.section2 aside p:nth-child(6) {
  color: #171648;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

.card1 {
  width: 250px;
  height: 200px;
  border-radius: 14px;
  border: 1px solid grey;
  padding: 40px;
}
.card1 p:first-child {
  color: #0A093D;
  font-size: 20px;
  font-weight: 700;
}
.card1 p:nth-child(2) {
  color: grey;
  font-size: 16px;
  font-weight: 600;
  margin-top: 19px;
}
.card1 p:nth-child(3) {
  color: grey;
  font-size: 16px;
  font-weight: 600;
  margin-top: 29px;
}
.card1 p:nth-child(4) {
  color: #217BF4;
  font-size: 16px;
  font-weight: 600;
  margin-top: 29px;
}

.section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.section3 aside {
  margin-left: 60px;
}
.section3 aside p:first-child {
  color: #217BF4;
  font-size: 18px;
  font-weight: 500;
}
.section3 aside p:nth-child(2) {
  width: 31px;
  height: 96px;
  color: #0A093D;
  font-size: 36px;
  font-weight: 700;
  padding-top: 30px;
}
.section3 aside p:nth-child(3) {
  width: 365px;
  height: 84px;
  font-size: 20px;
  color: #656464;
  margin-top: 18px;
}

.section4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.section4 div p:nth-child(1) {
  color: #217BF4;
  font-size: 18px;
  font-weight: 600;
}
.section4 div p:nth-child(2) {
  color: #0A093D;
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
}
.section4 div p:nth-child(3) {
  color: grey;
  font-size: 16px;
  text-align: center;
  width: 421px;
  height: 56px;
  margin-top: 15px;
}

.cardmin {
  width: 400px;
  height: 100px;
  border-radius: 14px;
  box-shadow: 0px 0px 5px grey;
  padding: 40px;
}

.section5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  flex-direction: column;
}
.section5 div {
  text-align: center;
  margin-left: 100px;
  margin-top: 70px;
}
.section5 div p:nth-child(1) {
  color: #217BF4;
  font-size: 18px;
  font-weight: 600;
  margin-left: -400px;
}
.section5 div p:nth-child(2) {
  color: #0A093D;
  font-size: 36px;
  font-weight: 700;
  margin-left: -400px;
}
.section5 div p:nth-child(3) {
  color: grey;
  font-size: 16px;
  width: 454px;
  height: 56px;
  text-align: center;
  margin-left: -350px;
}

.cardminMAN {
  width: 270px;
  height: 316px;
  border-radius: 14px;
  box-shadow: 0px 0px 5px grey;
}

.section6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}/*# sourceMappingURL=style.css.map */